<a class="btn btn-large btn-success" id="btnstartplay">Start Playing</a>
<a class="btn btn-large btn-warning" id="btnstartmap">Start Mapping</a>
<a class="btn btn-large btn-warning" id="btnstop">Stop</a>
<a  class="btn btn-large btn-danger"  id="btndiscard">Discard</a><a  class="btn btn-large btn-warning"  id="btnsave">Save</a><span id="message"></span>
<span id="soundpos"></span>
<div class="pagetext"><%=text%></div>