.arrow-right {
	background-image: url(right.png);
	background-repeat: no-repeat;
	background-size:85%;
}
.arrow-down {
	background-image: url(down.png);
	background-repeat: no-repeat;
	background-size:100%;
}

book {font-size:200%;}
chapter {font-size:150%;}
section {font-size:120%;color:brown;}